h1 {
  margin-top: 25px;
}

.weather-app-icon {
  width: 45px;
  height: 45px;
}

.temperature-container {
  display: flex;
  font-size: 35px;
}

.current-weather-details {
  margin: 80px 10px 0 0;
  line-height: 1.5;
  font-size: 15px;
  text-align: right;
}

.search-form-input {
  padding: 8px;
  width: 78%;
  border-radius: 5px;
  border-width: 1px;
}

.search-form-button {
  background-color: #4f8ae2;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  border-width: 1px;
  width: 20%;
}

form {
  display: flex;
  justify-content: space-between;
}
